/*Style Portafoli Núria*/

/*Elements HTML */
body {
    background-color: dimgray;
    font-family: 'Roboto', sans-serif;
}

nav {
    margin: 5px;
    padding: 5px;
    border: 1px solid green;
}

h1,
h2,
h3,
h4 {
    font-family: 'Roboto Slab', serif;
    letter-spacing: 1px;
    text-align: center;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.9em;
}

a {
    text-decoration: none;
    color: black;
}


/*--------------------------------------------------------------*/


/*Contenidors centrals*/

/*Contenidor General*/
div#contenidor {
    display: flex;
    box-sizing: border-box;
    margin: 10px auto 20px auto;
    border: 1px solid black;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    background-color: #000;
}

div#contenidor-flex1 {
    flex: 1 150px;
    border: 1px solid black;
    margin: 5px;
    flex-wrap: wrap;
    background-color: #9b8585;

}

div#contenidor-flex2 {
    box-sizing: border-box;
    display: flex;
    flex: 5;
    border: 1px solid white;
    flex-wrap: wrap;
    margin: 5px;
    backface-visibility: center;
    background-color: dimgray;
    /* background-image: url(../);*/


}

/*Contenidor-flex1*/

div#contenidor-flex1-img {
    border: 1px solid transparent;
    margin: 1.2em auto;
    width: 135px;
    height: 130px;
    background-color: dimgray;
}

div.contenidor-flex1-bt {
    border: 1px solid yellow;
    margin: 1.2em 0.9em;
    padding: 0.4em;
    background-color: #fcb564;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;

}



/*Contenidor-flex2*/

div#contenidor-flex2-right {
    flex: 4 50px;
    border: 1px solid green;
    height: auto;
    margin: 5px;
    order: 1;
    width: 50px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;



}


div#contenidor-flex2-left {
    flex: 1 300px;
    border: 1px solid green;
    height: auto;
    margin: 5px;
    order: 2;
}

/**/

#contenidor-flex2-h1 {
    position: relative;
    margin: 0.7em 0.8em;
    font-size: 20px;
    text-align: left;
    top: 8em;
    word-wrap: break-word;
}

#contenidor-flex2-p {
    position: relative;
    font-size: 15px;
    left: 70px;
    top: 9.8em;
    width: 150px;

}

#contenidor-flex2-nom {
    border: 1px solid transparent;
    margin: 10em 1.5em;
    word-wrap: break-word;

    @media only screen and (max-width: 600px) {
        #contenidor-flex2-nom {
            display: flex;
            align-items: flex-start;
        }
    }


}

#contenidor-flex2-biogr {
    border: 1px solid transparent;
    text-align: justify;
    word-wrap: break-word;

}



/*APARTAT HABILITATS.HTML*/

/*Contenidor flex2*/

div#contenidor-flex2-hab-right {
    display: flex;
    flex-wrap: wrap;
    /*border:1px solid red; */
    /*background-color: wheat;*/
    margin: auto;
    justify-content: center;


}

/*-------------------------------------------------------------------------------------*/

div#contenidor-flex2-hab-slider {
    margin: 5.9px auto;

    width: 55vw;
    height: 25vh;

    overflow: hidden;
    margin: auto;
    overflow: hidden;

}


#contenidor-flex2-hab-slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite alternate linear;
}

#contenidor-flex2-hab-slider li {
    width: 100%;
    list-style: none;
}

#contenidor-flex2-hab-slider img {

    width: 100%;

}

@keyframes cambio {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}















/*--------------------------------------------------------------------------------------*/

#ilustracio {
    margin: 5px 25px;
    /*background-color:magenta;*/
    display: flex;
    flex-direction: column;
}

#modelatge {
    margin: 5px 25px;
    /*background-color:darkgreen;*/
    display: flex;
    flex-direction: column;
}


#animacio {

    align-self: ;
    margin: 10px;
    /*background-color:aqua;*/
    display: flex;
    flex-direction: column;

}

#ani1 {
    border: 1px solid black;
    background-color: dimgray;
    width: 300px;
    height: 115px;
}

#ani2 {
    border: 1px solid black;
    margin: 15px;
    background-color: aquamarine;
}

#ilu1 {
    border: 1px solid black;
    background-color: dimgray;
    width: 300px;
    height: 115px;
}

#ilu2 {
    border: 1px solid black;
    margin: 15px;
    background-color: aquamarine;
}


#model1 {
    border: 1px solid black;
    background-color: dimgray;
    width: 300px;
    height: 115px;
}

#model2 {
    border: 1px solid black;
    margin: 15px;
    background-color: aquamarine;
}
/*-------------------------------------------------------------*/
/*Animacio*/
.wrapper {   
    display: block;
    width: 80%;
    margin: auto ; 
    margin-top: -25px;
    overflow: hidden;
}   

.wrapper_video{
    margin:auto; 
    
}
.video{
    width:100%;
}
 
 
/*-------------------------------------------------------------*/
/*Contacte.html*/

#contenidor-flex2-cont {
    margin: 2px 20px;
    width: 70%;
    height: auto;
    text-align: justify;
}

h2#contenidor-flex2-cont-contacte {
    text-align: justify;
}



div #sbutton {
    text-align: center;
    padding: 20px;
    margin: 10px 15px;

}

.but {
    border: none;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

#buttonhover {
    color: #fff;
    background-color: #9b8585;
}

#buttonhover span {
    position: relative;
    transition: 0.5s;
}

#buttonhover span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#buttonhover:hover {
    background-color: #c4a6a6;
}

#buttonhover:hover span {
    padding-right: 25px;

}

#buttonhover:hover span:after {
    opacity: 1;
    right: 0;

}

/*--------------------------------------------------------------*/
/*Media Query*/
